<div class="wrapper">
  <app-header
    (searchTermChange)="startSearchFormValue($event)"
    (searchFilter)="startFilterSearch($event)"
    (dateFilter)="startFilterDate()"
    (viewsFilter)="startFilterCountOfViews()"
  ></app-header>
  <app-search-results
    class="search-result-block"
    [searchFormValue]="searchFormValue"
    [filterWord]="filterWord"
    [typeOfSortingByDate]="typeOfSortingByDate"
    [typeOfSortingByCountOfView]="typeOfSortingByCountOfView"
  ></app-search-results>
</div>
