<div class="wrapper">
  <app-header
    (emitterSearchFormValue)="getSearchFormValue($event)"
    (emitterFilterSearch)="filterSearch($event)"
    (emitterFilterDate)="filterDate()"
    (emitterFilterCountOfViews)="filterCountOfViews()"
  ></app-header>
  <app-search-results
    class="search-result-block"
    [searchFormValue]="searchFormValue"
    [filterWord]="filterWord"
    [isDateIncreasing]="isDateIncreasing"
    [isCountOfViewsIncreasing]="isCountOfViewsIncreasing"
  ></app-search-results>
</div>
