.search-input-block-item {
  width: 490px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 15px 0;
}

.search-settings {
  width: 24px;
  height: 24px;
  background-image: url(../../../../assets/search_settings.svg);
  background-color: #2f80ed;
  filter: drop-shadow(2px 0px 4px #2f80ed);
  border-radius: 5px;
  background-position: center;
  background-repeat: no-repeat;
}

.search-settings:hover {
  cursor: pointer;
}

.search-tern {
  width: 396px;
  height: 24px;
  border-width: 0;
  background-color: #efefef;
  color: #333333;
  padding-left: 6px;
  font-family: "Roboto";
  font-size: 12px;
  line-height: 14px;

  &::placeholder {
    font-family: "Roboto";
    color: #929292;
  }
}
