.header {
  display: flex;
  align-items: center;
  background-color: #e5e5e5;

  .search_input_block {
    margin-left: calc((100% - 570px) / 2);
  }

  .user_login_block {
    margin-left: auto;
    margin-right: 156px;
  }
}

.sorting_block {
  display: block;
  background-color: #e5e5e5;
}
