<div class="block-login">
  <h2 class="header-login">Login</h2>
  <form [formGroup]="authGroup" class="block-form" (ngSubmit)="submitForm()">
    <label for="login" class="label-login">login</label>
    <input
      formControlName="login"
      type="text"
      id="login"
      class="input-login"
    />
    <label for="password" class="label-password">password</label>
    <input
      formControlName="password"
      type="password"
      id="password"
      class="input-password"
    />
    <p class="empty-data"></p>
    <button class="submit-login">Login</button>
  </form>
</div>

<!-- [(ngModel)]="userLogin"
(input)="isLoginOrPasswordEmpty = false"
[(ngModel)]="userPassword"
(input)="isLoginOrPasswordEmpty = false"
(click)="logIn()" -->